@{
    Layout = "_Layout";
}

@section AreaNavigation
{
    <nav class="navbar navbar-expand-lg navbar-light bg-light container rounded shadow-sm mt-2">
        <a class="navbar-brand" href="/">
            <img src="@Url.Content("~/image/lilie-leiter-32.png")" height="32" alt="Leiterbereich">
        </a>
    </nav>
}

@RenderBody()
