<div class="card container p-0 shadow-sm">
    <h5 class="card-header">Verband</h5>
    <div class="card-body">
        <p class="card-text">Die Deutsche Pfadfinderschaft Sankt Georg (DPSG) ist der größte Pfadfinderverband in Deutschland und wurde 1929 gegründet. Er bietet 95.000 Kindern, Jugendlichen und jungen Erwachsenen mehr als ein Abenteuer!</p>
        <p class="card-text">Er versteht sich als Erziehungsverband - die Mitglieder lernen, aufrichtig und engagiert ihr Leben und ihr Umfeld zu gestalten. In Gruppen mit Gleichaltrigen lässt sich dieses Erziehungsziel gut erreichen. Begleitet werden die Kinder und Jugendlichen durch erwachsene Leiterinnen und Leiter.</p>
        <p class="card-text">Pädagogisches Ziel ist die Erziehung von jungen Menschen zu Selbstständigkeit und Eigenverantwortung. Die Handlungsfelder sind geprägt von den christlichen Werten, wie Ehrlichkeit, Solidarität und Toleranz. Das Engagement der Pfadfinder zeigt zum Beispiel bei der Integration von Menschen mit Behinderungen, beim Umweltschutz und der Suche nach internationalen Begegnungen.</p>
        <p class="card-text">Unser Stamm ist dem Bezirk Rosenheim im Diözesanverband München-Freising zugeordnet. Insgesamt sind im Bezirk 11 Stämme und in der Diözese 8 Bezirke mit 58 Stämmen zusammenfasst.</p>
        <a href="http://www.dpsg.de/" class="card-link">Bundesverband</a>
        <a href="http://www.dpsg1300.de/" class="card-link">Diözesanverband München-Freising</a>
        <a href="http://www.dpsg-rosenheim.de/" class="card-link">Bezirk Rosenheim</a>
    </div>
</div>