@{
    ViewBag.Title = "Home";
}

<div class="alert alert-light text-dark container mb-2 shadow-sm text-center">
    <span class="material-icons">info</span> <span>Wir sind umgezogen! Wir sind ab sofort unter der E-Mail-Adresse <a href="mailto:kontakt@stamm-phoenix.de">kontakt@stamm-phoenix.de</a> erreichbar.</span>
</div>

<div class="card container p-0 shadow-sm">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h5 class="card-title">Willkommen bei den Pfadfindern des DPSG Stamm Phoenix Feldkirchen-Westerham!</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <p class="card-text">
                    Seit 1984 ist die <b>Pfadfinderschaft Sankt Georg (DPSG) in Feldkirchen-Westerham</b> tätig und <b>seit 1987</b> ist unsere Gruppierung ein selbstständiger Stamm.
                    Dementsprechend konnten wir 2017 unser 30-jähriges Stammesjubiläum feiern.
                    Heute können wir auf eine Vergangenheit mit zahlreichen Jugendgruppen, vielen spannenden Aktionen und Kontakten zu Pfadfindern aus Deutschland und der Welt zurückblicken.
                    Mit <b>ca. 60 Mitgliedern</b> sind wir heute eine stetig wachsende Gruppe und haben eine solide Basis geschaffen, die auch für die nächsten Jahre eine erfolgreiche Jugendarbeit ermöglicht.
                </p>
                <p class="card-text">
                    Auf unserer Internetseite können Sie sich über unseren Stamm, die Jugendgruppen und unsere Aktivitäten informieren.
                </p>
            </div>
            <div class="col-lg-auto d-flex align-items-center justify-content-center">
                <img src="@Url.Content("~/image/jubilaeum.png")" alt="Jubiläum">
            </div>
        </div>
    </div>
</div>
