/*!
* Site Specific CSS
*/
:root {
    --color-woelflinge: #ff6400;
    --color-jungpfadfinder: #2f53a7;
    --color-pfadfinder: #00823c;
    --color-rover: #cc1f2f;
    --color-leiter: #b1b9ad;
}

.bg-woelflinge {
    background-color: var(--color-woelflinge);
}

.bg-jungpfadfinder {
    background-color: var(--color-jungpfadfinder);
}

.bg-pfadfinder {
    background-color: var(--color-pfadfinder);
}

.bg-rover {
    background-color: var(--color-rover);
}

.bg-leiter {
    background-color: var(--color-leiter);
}

html, body {
    margin: 0;
    height: 100%;
}

.fit-content {
    width: fit-content;
}

.version {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    font-family: monospace;
    font-size: xx-small;
}

.table-fixed {
    table-layout: fixed;
}

.card, .navbar {
    border: 1px solid rgba(0,0,0,.125);
}

.btn > span, .alert > span {
    vertical-align: middle;
}

.alert {
    margin-bottom: unset;
    padding: 0.5rem;
}

.table {
    vertical-align: middle;
}

.w-max-content {
    width: max-content;
}
