<div class="card container p-0 shadow-sm">
    <h5 class="card-header bg-jungpfadfinder text-light">Jungpfadfinder</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-auto d-flex align-items-center justify-content-center">
                <img src="@Url.Content("~/image/kobold.png")" height="200" alt="Kobold">
            </div>
            <div class="col-lg">
                <p class="card-text"><b>Abenteuer Leben</b></p>
                <p class="card-text">Auf dem Weg zum Teenager-Alter stellt das Leben viele Herausforderungen - Wir stellen uns dem Abenteuer!</p>
                <p class="card-text">Die eigene Rolle in der Gruppe und der Gesellschaft zu finden, ist für jeden Jugendlichen eine schwierige Aufgabe, aber durch den Zusammenhalt der Sippe meistern wir jedes Problem. Nicht umsonst heißt es im Leitspruch der Stufe:</p>
                <p class="card-text"><b>Ergreif die Chance! Sei du selbst! Wag den Schritt!</b></p>
                <p class="card-text">Die Abzeichen der Jungpfadfinderstufe sind die blaue DPSG-Lilie und das blaue Halstuch.
                <p>
            </div>
        </div>
    </div>
</div>