<div class="card-body">
    <div class="row">
        <div class="col">
            <h5 class="card-title">Pfadfinder</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <p class="card-text"><b>Wagt es!</b></p>
            <p class="card-text">Mit diesen zwei Worten fordert die Pfadfinderstufe die Jugendlichen auf, ihr Leben selbst in die Hand zu nehmen. Hier stehen Eigenverantwortung und Engagement im Mittelpunkt.</p>
            <p class="card-text">Dabei geht diese Forderung über den Trupp und die Gruppenstunden hinaus und ermutigt zum Einsatz für soziale Projekte und Umweltschutz.</p>
            <p class="card-text">Die Inhalte der Gruppenstunden werden zunehmend von den Jugendlichen bestimmt und selbst gestaltet - stets mit der Möglichkeit, die Themen auf ganz- oder mehrtägige Aktionen auszuweiten.</p>
            <p class="card-text">Der Mitglieder der Pfadfinderstufe sind durch die grüne DPSG-Lilie und das grüne Halstuch zu erkennen.<p>
        </div>
        <div class="col-lg-auto d-flex align-items-center justify-content-center">
            <img src="@Url.Content("~/image/pfadi-hand.png")" height="200" alt="Wagt es!">
        </div>
    </div>
</div>