<div class="card-body">
    <div class="row">
        <div class="col">
            <h5 class="card-title">Rover</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <p class="card-text">In der Roverstufe wird das klassische Verhältnis von Leitern und Gruppenmitgliedern aufgelöst. Der von der Runde gewählte Betreuer nimmt eine begleitende, unterstützende Position ein und überlässt die Entwicklung und Durchführung der Gruppenstundenthemen zunehmend den Rovern.</p>
            <p class="card-text">Ab 16 Jahren ist die Mitgliedschaft in der Roverstufe möglich und endet mit dem 20. Lebensjahr. Spätestens dann stehen die jungen Erwachsenen vor der Entscheidung, sich im Leitungs-Team des Stamms zu engagieren.</p>
            <p class="card-text">Die Rover zeigen ihre Stufenzugehörigkeit mit roter DPSG-Lilie und rotem Halstuch.</p>
            <p class="card-text">Der Mitglieder der Roverstufe sind durch das rote Halstuch zu erkennen.<p>
        </div>
        <div class="col-lg-auto d-flex align-items-center justify-content-center">
            <img src="@Url.Content("~/image/lilie-rover.png")" height="200" alt="Rover">
        </div>
    </div>
</div>