<div class="card-body">
    <div class="row">
        <div class="col">
            <h5 class="card-title">Wölflinge</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <p class="card-text"><b>Wölflinge wollen's wissen!</b></p>
            <p class="card-text">Das ist das Motto der jüngsten Altersstufe der DPSG - und entsprechend lassen wir der Neugierde freien lauf und schauen hinter die Dinge.</p>
            <p class="card-text">Ab dem 7. Lebensjahr können Kinder in die Wölflingsstufe eintreten und gemeinsam sich selbst, ihre Freunde und ihre Umwelt unter die Lupe nehmen.</p>
            <p class="card-text">Dazu haben wir über die Gruppenstunden hinaus auf den Fahrten und Zeltlagern Gelegenheit, wo wir immer wieder auch auf Wölflinge anderer Stämme treffen.</p>
            <p class="card-text">Die Symbole der Wölflingsstufe sind der Wölflingskopf und das orange Halstuch.<p>
        </div>
        <div class="col-lg-auto d-flex align-items-center justify-content-center">
            <img src="@Url.Content("~/image/woelfi.png")" height="200" alt="Wölfi">
        </div>
    </div>
</div>