@using StammPhoenix.Web.Models.Home

@{
    ViewBag.Title = "Fehler";
}

@model ErrorViewModel

<div class="card fit-content container p-0 shadow-sm text-white bg-danger">
    <div class="card-header"><span class="material-icons">report</span> <span>Interner Serverfehler @if(Model.StatusCode != null) { <span>(Code: @Model.StatusCode)</span> }</span></div>
    <div class="card-body">
        <h5 class="card-title">Ein Fehler ist aufgetreten.</h5>
        <p class="card-text">
            <span >Bitte versuchen Sie es erneut. Wenn das Problem wiederholt auftritt, kontaktieren Sie bitte den Administrator.</span>
            @if (Model.Error != null)
            {
                <br/><span>Fehlertyp: @Model.Error.GetBaseException().GetType().Name</span>
            }
        </p>
    </div>
</div>
