<div class="card-body">
    <h5 class="card-title">Impressum</h5>
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h6 class="card-title mb-0">Veröffentlicher</h6>
            </li>
            <li class="list-group-item">
                <p class="card-text">Deutsche Pfadfinderschaft Sankt Georg 13/19/12 Stamm Phoenix Feldkirchen-Westerham</p>
            </li>
        </ul>
    </div>
    <div class="card mt-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h6 class="card-title mb-0">Vorstände</h6>
            </li>
            <li class="list-group-item">
                <table class="table table-borderless table-sm mb-0">
                    <tr>
                        <td>Bernhard Jobst</td>
                        <td>Germanus Kettl</td>
                    </tr>
                    <tr>
                        <td>Schwimmbadstraße 41</td>
                        <td>Miesbacher Straße 8</td>
                    </tr>
                    <tr>
                        <td>83620 Feldkirchen-Westerham</td>
                        <td>83620 Feldkirchen-Westerham</td>
                    </tr>
                    <tr>
                        <td>Tel. 0176 / 57 63 14 10</td>
                        <td>Tel. 0163 / 43 81 12 8</td>
                    </tr>
                </table>
            </li>
        </ul>
    </div>
    <div class="card mt-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h6 class="card-title mb-0">Verfasser</h6>
            </li>
            <li class="list-group-item">
                <p class="card-text">Design und Layout: Nico Welles<br />Inhalte (soweit Autor nicht explizit angegeben): Andreas Schartner, Andreas Schlott, Nico Welles, Bernhard Jobst</p>
            </li>
        </ul>
    </div>
    <div class="card mt-2">
        <div class="card-body">
            <table class="table table-borderless table-sm mb-0">
                <tr>
                    <td>Die Deutsche Pfadfinderschaft Sankt Georg (DPSG) ist als
    anerkannter Träger freier Jugendhilfe Mitglied im Bayerischen Jugendring (BJR)
    und als Verband katholischer Pfadfinderinnen und Pfadfinder
    Mitglied im Bund der Deutschen Katholischen Jugend (BDKJ)
    und der Internationalen Katholischen Konferenz des Pfadfindertums (IKKP).
    Die DPSG ist Mitglied im Ring deutscher Pfadfinderverbände (RdP)
    und von der World Organisation of the Scout Movement (WOSM)
    als Mitgliedsverband der Weltpfadfinderbewegung offiziell anerkannt.</td>
                    <td><img src="@Url.Content("~/image/dpsg.png")" height="100" /></td>
                </tr>
            </table>
        </div>
    </div>
</div>