<div class="card container p-0 mb-2 shadow-sm">
    <h5 class="card-header">Veröffentlicher</h5>
    <div class="card-body">
        <p class="card-text">Deutsche Pfadfinderschaft Sankt Georg 13/19/12 Stamm Phoenix Feldkirchen-Westerham</p>
    </div>
</div>

<div class="card container p-0 mb-2 shadow-sm">
    <h5 class="card-header">Vorstände</h5>
    <div class="card-body">
        <table class="table table-borderless table-fixed table-sm mb-0">
            <tr>
                <td>Bernhard Jobst</td>
                <td>Germanus Kettl</td>
            </tr>
            <tr>
                <td>Schwimmbadstraße 41</td>
                <td>Miesbacher Straße 8</td>
            </tr>
            <tr>
                <td>83620 Feldkirchen-Westerham</td>
                <td>83620 Feldkirchen-Westerham</td>
            </tr>
            <tr>
                <td>Tel. 0176 / 57 63 14 10</td>
                <td>Tel. 0163 / 43 81 12 8</td>
            </tr>
        </table>
    </div>
</div>

<div class="card container p-0 mb-2 shadow-sm">
    <h5 class="card-header">Verfasser</h5>
    <div class="card-body">
        <p class="card-text">Design und Layout: Nico Welles<br />Inhalte (soweit Autor nicht explizit angegeben): Andreas Schartner, Andreas Schlott, Nico Welles, Bernhard Jobst</p>
    </div>
</div>

<div class="card container p-0 shadow-sm">
    <div class="card-body">
        <div class="row">
            <div class="col-lg">
                Die Deutsche Pfadfinderschaft Sankt Georg (DPSG) ist als
                anerkannter Träger freier Jugendhilfe Mitglied im Bayerischen Jugendring (BJR)
                und als Verband katholischer Pfadfinderinnen und Pfadfinder
                Mitglied im Bund der Deutschen Katholischen Jugend (BDKJ)
                und der Internationalen Katholischen Konferenz des Pfadfindertums (IKKP).
                Die DPSG ist Mitglied im Ring deutscher Pfadfinderverbände (RdP)
                und von der World Organisation of the Scout Movement (WOSM)
                als Mitgliedsverband der Weltpfadfinderbewegung offiziell anerkannt.
            </div>
            <div class="col-lg-auto p-2 d-flex align-items-center justify-content-center">
                <img src="@Url.Content("~/image/dpsg.png")" height="100"/>
            </div>
        </div>
    </div>
</div>