<div class="container p-0 d-flex justify-content-center mb-2">
    <img src="@Url.Content("~/image/leitendenrunde.png")" class="rounded shadow-sm img-fluid" alt="Die Leitendenrunde">
</div>

<div class="card container p-0 mb-2 shadow-sm">
    <h5 class="card-header bg-woelflinge text-dark">Wölflinge</h5>
    <div class="card-body">
        <table class="table table-fixed table-borderless table-sm mb-0">
            <tr>
                <th>Alter:</th>
                <td>7 - 10 Jahre</td>
            </tr>
            <tr>
                <th>Leiter:</th>
                <td>Donnerstag, 17:30 - 19:00 Uhr</td>
            </tr>
            <tr>
                <th>Gruppenstunde:</th>
                <td>Jonathan Krause, Laura Orendi und Bernhard Jobst</td>
            </tr>
        </table>
    </div>
</div>

<div class="card container p-0 mb-2 shadow-sm">
    <h5 class="card-header bg-jungpfadfinder text-light">Jungpfadfinder</h5>
    <div class="card-body">
        <table class="table table-fixed table-borderless table-sm mb-0">
            <tr>
                <th>Alter:</th>
                <td>10 - 13 Jahre</td>
            </tr>
            <tr>
                <th>Leiter:</th>
                <td>Freitag, 17:00 - 18:30 Uhr</td>
            </tr>
            <tr>
                <th>Gruppenstunde:</th>
                <td>Louise Kettl, Simon Schmid und Nico Welles</td>
            </tr>
        </table>
    </div>
</div>

<div class="card container p-0 mb-2 shadow-sm">
    <h5 class="card-header bg-pfadfinder text-light">Pfadfinder</h5>
    <div class="card-body">
        <table class="table table-fixed table-borderless table-sm mb-0">
            <tr>
                <th>Alter:</th>
                <td>13 - 16 Jahre</td>
            </tr>
            <tr>
                <th>Leiter:</th>
                <td>Donnerstag, 19:00 - 20:30 Uhr</td>
            </tr>
            <tr>
                <th>Gruppenstunde:</th>
                <td>Sabine Treff und Florian Feraud</td>
            </tr>
        </table>
    </div>
</div>

<div class="card container p-0 shadow-sm">
    <h5 class="card-header bg-rover text-light">Rover</h5>
    <div class="card-body">
        <table class="table table-fixed table-borderless table-sm mb-0">
            <tr>
                <th>Alter:</th>
                <td>16 - 20 Jahre</td>
            </tr>
            <tr>
                <th>Leiter:</th>
                <td>Mittwoch, 19:00 - 20:30 Uhr</td>
            </tr>
            <tr>
                <th>Gruppenstunde:</th>
                <td>Martin Schaberl</td>
            </tr>
        </table>
    </div>
</div>