<div class="card-body">
    <div class="row mb-2">
        <div class="col d-flex align-items-center justify-content-center">
            <img src="image/leitendenrunde.png" class="img-fluid rounded mb-2" alt="Die Leitendenrunde">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-woelflinge">
                        <h5 class="card-title mb-0">Wölflinge</h5>
                    </li>
                    <li class="list-group-item">
                        <table class="table table-borderless table-sm">
                            <tr>
                                <th>Alter:</th>
                                <td>7 - 10 Jahre</td>
                            </tr>
                            <tr>
                                <th>Leiter:</th>
                                <td>Donnerstag, 17:30 - 19:00 Uhr</td>
                            </tr>
                            <tr>
                                <th>Gruppenstunde:</th>
                                <td>Jonathan Krause, Laura Orendi und Bernhard Jobst</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div><div class="row mb-2">
        <div class="col">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-jungpfadfinder">
                        <h5 class="card-title mb-0">Jungpfadfinder</h5>
                    </li>
                    <li class="list-group-item">
                        <table class="table table-borderless table-sm">
                            <tr>
                                <th>Alter:</th>
                                <td>10 - 13 Jahre</td>
                            </tr>
                            <tr>
                                <th>Leiter:</th>
                                <td>Freitag, 17:00 - 18:30 Uhr</td>
                            </tr>
                            <tr>
                                <th>Gruppenstunde:</th>
                                <td>Louise Kettl, Simon Schmid und Nico Welles</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-pfadfinder">
                        <h5 class="card-title mb-0">Pfadfinder</h5>
                    </li>
                    <li class="list-group-item">
                        <table class="table table-borderless table-sm">
                            <tr>
                                <th>Alter:</th>
                                <td>13 - 16 Jahre</td>
                            </tr>
                            <tr>
                                <th>Leiter:</th>
                                <td>Donnerstag, 19:00 - 20:30 Uhr</td>
                            </tr>
                            <tr>
                                <th>Gruppenstunde:</th>
                                <td>Sabine Treff und Florian Feraud</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-rover">
                        <h5 class="card-title mb-0">Rover</h5>
                    </li>
                    <li class="list-group-item">
                        <table class="table table-borderless table-sm">
                            <tr>
                                <th>Alter:</th>
                                <td>16 - 20 Jahre</td>
                            </tr>
                            <tr>
                                <th>Leiter:</th>
                                <td>Mittwoch, 19:00 - 20:30 Uhr</td>
                            </tr>
                            <tr>
                                <th>Gruppenstunde:</th>
                                <td>Martin Schaberl</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>