@using StammPhoenix.Util.Interfaces
@using StammPhoenix.Persistence.Constants

@inject IAuth Auth

<div class="card container p-0 mb-2 shadow-sm">
    <h5 class="card-header">Mein Konto</h5>
    <div class="list-group list-group-flush">
        <a href="@Url.To("ChangePassword", "Konto", "Leiter", Url.To("Index", "Home", "Leiter"))" class="list-group-item list-group-item-action"><span class="material-icons">lock</span> <span>Passwort ändern</span></a>
        <a href="@Url.To("ChangeUsername", "Konto", "Leiter", Url.To("Index", "Home", "Leiter"))" class="list-group-item list-group-item-action"><span class="material-icons">person</span> <span>Benutzernamen ändern</span></a>
    </div>
</div>

<div class="card container p-0 shadow-sm">
    <h5 class="card-header">Teams</h5>
    <div class="list-group list-group-flush">
        <a href="@Url.To("Index", "Teams", "Leiter", Url.To("Index", "Home", "Leiter"))" class="list-group-item list-group-item-action"><span class="material-icons">groups</span> <span>Teams verwalten</span></a>
    </div>
</div>

@if (this.Auth.HasRole(nameof(Role.Administrator)))
{
    <div class="card container p-0 mt-2 shadow-sm">
        <h5 class="card-header">Benutzeraccounts</h5>
        <div class="list-group list-group-flush">
            <a href="@Url.To("Index", "Users", "Leiter")" class="list-group-item list-group-item-action"><span class="material-icons">recent_actors</span> <span>Benutzeraccounts verwalten</span></a>
        </div>
    </div>
}
