<div class="alert alert-danger container fit-content d-flex align-items-center align-self-center" role="alert">
    <span class="material-icons me-2">error</span>
    <div>Sie haben nicht die notwendigen Rechte, um diese Seite anzuzeigen.</div>
</div>