@using StammPhoenix.Web.Areas.Leiter.Models.Teams

@model TeamsViewModel

<div class="card container p-0 shadow-sm">
    <h5 class="card-header">Teams verwalten</h5>
    <div class="card-body">
        <span>SOON™</span>
    </div>
</div>
