@using StammPhoenix.Web.Models.Downloads

@inject ITempCookieService TempCookieService

@model DownloadsViewModel

@section PageScript
{
    <script src="/js/bundle.pdf.js"></script>
    <script src="/js/bundle.pages.downloads.js"></script>
}

<div class="container d-grid gap-2 p-0">
    @foreach (var file in Model.Files)
    {
        <div class="card" data-type="pdf-card">
            <h5 class="card-header">@file.Name</h5>
            <canvas class="card-img-top border-bottom"></canvas>
            <div class="card-body d-grid">
                <a class="btn btn-dark" href="@Url.To("Index", "Downloads", routeValues: new {key = file.Key})"><span class="material-icons">download</span> Herunterladen</a>
            </div>
        </div>
    }
</div>
