@using StammPhoenix.Persistence

@inject IDatabaseContext DatabaseContext

<div class="card container p-0 shadow-sm">
    <h5 class="card-header">Kontakt</h5>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p>
                    Sie erreichen uns per E-Mail unter: <a href="mailto:phoenix@dpsg-feldkirchen.de">phoenix@dpsg-feldkirchen.de</a>
                    <br />Unsere Stammesvorstände erreichen Sie unter:
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var kontakt in await this.DatabaseContext.GetPageContacts())
            {
                <div class="col">
                    @kontakt.Name
                    <br/>
                    <span class="material-icons">phone</span> @kontakt.PhoneNumber
                    <br />
                    @kontakt.Address
                </div>
            }
        </div>
    </div>
</div>
