@using StammPhoenix.Web.Models.Kontakt

@model KontaktViewModel

@{
    ViewBag.Title = "Kontakt";
}

<div class="card container p-0 shadow-sm">
    <h5 class="card-header">Kontakt</h5>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p>
                    Sie erreichen uns per E-Mail unter: <a href="mailto:kontakt@stamm-phoenix.de">kontakt@stamm-phoenix.de</a>
                    <br />Unsere Stammesvorstände erreichen Sie unter:
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var contact in Model.Kontakte)
            {
                <div class="col">
                    @contact.Name
                    <br/>
                    @contact.PhoneNumber
                    <br />
                    @contact.AddressStreet
                    <br />
                    @contact.AddressCity
                </div>

                @if (contact != Model.Kontakte.Last())
                {
                    <hr class="mt-2 mb-2 d-md-none">
                }
            }
        </div>
    </div>
</div>
