@using StammPhoenix.Web.Models.Kontakt

@model KontaktViewModel

<div class="card-body">
    <h5 class="card-title">Kontakt</h5>
    <p class="card-text">Sie erreichen unsere Stammesvorstände telefonisch unter:</p>
    <table class="table table-borderless table-sm">
        <tr>
            <th>Bernhard Jobst</th>
            <td>0176 / 57 63 14 10</td>
        </tr>
        <tr>
            <th>Germanus Kettl</th>
            <td>0163 / 43 81 12 8</td>
        </tr>
    </table>
    <p class="card-text">und per E-Mail unter: <a href="mailto:phoenix@dpsg-feldkirchen.de">phoenix@dpsg-feldkirchen.de</a></p>
</div>